.custom-button {
  padding: 10px 18px;
  background-color: #74a892;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s ease;
}

.custom-button:hover {
  background-color: #008585;
}
