.custom-card {
  background: white;
  border-radius: 12px;
  padding: 20px;
  border: 1px solid #74a892;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  transition: 0.3s ease;
}

.custom-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 18px rgba(0,0,0,0.15);
}
