body {
  margin: 0;
  font-family: Arial;
  background-color: #fbf2c4;
}

.navbar {
  background: #008585;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.navbar a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
  font-weight: bold;
}

.page {
  padding: 20px;
  text-align: center;
}

input, select {
  padding: 8px;
  margin: 10px;
  border: 2px solid #74a892;
  border-radius: 5px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

button {
  background: #74a892;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #008585;
}
